@import 'mocha.css';

* {
  font-family: JetBrains Mono Nerd Font;
  min-height: 14px;
  font-size: 12px;
  border: none;
  border-radius: 6px;
  padding: 0;
  margin: 0;
  box-shadow: none;
  text-shadow: none;
  background-color: transparent;
}

#custom-weather {
  margin-left: 2px;
  margin-right: 2px;
  padding: 0px 8px;
  background: @raisin-black;
  color: @beige;
  border-radius: 6px;
}

#cpu {
  color: @beige;
  padding: 0px 8px 0px 15px;
  background: @raisin-black;
  margin-left: 2px;
  border-radius: 6px 0 0 6px;
}

#memory {
  color: @beige;
  padding: 0px 15px 0px 8px;
  background: @raisin-black;
  margin-right: 2px;
  border-radius: 0 6px 6px 0;
}

#temperature.gpu {
  padding: 0px 12px;
  margin-right: 2px;
  color: @celadon;
  background: @raisin-black;
  border-radius: 6px;
}

/* General Styling */
tooltip,
menu,
#workspaces,
#clock,
#pulseaudio,
#backlight,
#bluetooth,
#network,
#battery,
#custom-power {
  background: @raisin-black;
  padding: 7px 8px;
  margin: 0;
  border-radius: 6px;
}

tooltip {
  border: 1px solid @beige;
}

.modules-right,
.modules-center,
.modules-left {
  padding: 0 5px;
}

#workspaces {
  background: #1e1e2e;
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-style: normal;
  opacity: 1;
  font-size: 16px;
  color: #1e1;
  border-radius: 6px;
}

#workspaces button {
  padding: 0px 5px;
  margin: 3px;
  border-radius: 6px;
  border: none;
  color: #f5e0dc;
  background-color: #1e1e2e;
  transition: all 0.3s ease-in-out;
  opacity: 0.4;
}

#workspaces button.active {
  color: #1e1e2e;
  background: #cba6f7;
  min-width: 20px;
  opacity: 1;
}

#workspaces button:hover {
  color: #c3dee5;
  background: #1e1e2e;
  opacity: 1;
  animation: none;
}

#clock {
  padding: 0 15px;
  color: @beige;
  border-radius: 6px;
}

#custom-launcher {
  font-size: 18px;
  transition: none;
  padding: 0px 10px;
  margin-right: 2px;
  background: @raisin-black;
  color: rgba(137, 220, 235, 1);
  border-radius: 0 6px 6px 0;
}

#custom-transparency {
  font-size: 18px;
  background: @raisin-black;
  color: #94e2d5;
  padding: 0px 14px;
  /* margin-right: 2px; */
  border-radius: 6px 0 0 6px;
  /* border-radius: 0 6px 6px 0; */
}

#custom-wallpaper {
  font-size: 20px;
  font-family: 'Font Awesome 5 Free';
  padding: 0px 8px;
  margin-right: 2px;
  color: #f38ba8;
  background: @raisin-black;
  border-radius: 0 6px 6px 0;
}

#pulseaudio,
#backlight {
  padding: 0 8px;
  /* margin: 0 2px; */
  color: @beige;
  border-radius: 6px 0 0 6px;
}

#bluetooth,
#network {
  color: #cba6f7;
  border-radius: 6px;
}

#network.speed {
  background: @raisin-black;
  padding: 0px 6px;
  min-width: 10px;
  color: @beige;
  border-radius: 6px;
}

#bluetooth {
  min-width: 20px;
  padding: 0 10px;
  margin: 0 2px;
  border-radius: 6px;
}

#network {
  min-width: 30px;
  padding: 0 7px 0 2px;
  /* margin: 0 2px; */
  border-radius: 0 6px 6px 0;
}

#battery {
  color: @mint;
  min-width: 30px;
  padding-left: 5px;
  margin: 0 2px;
  padding-right: 5px;
  border-radius: 6px;
}

#battery.charging {
  color: #eff1f5; /* Text */
  background: #40a02b; /* Green */
  border-radius: 6px;
}

#battery.good:not(.charging) {
  color: #f9e2af; /* Peach */
  background: #1e1e2e; /* Base */
  border-radius: 6px;
}

#battery.warning:not(.charging) {
  color: #eff1f5; /* Text */
  background: #df8e1d; /* Yellow */
  border-radius: 6px;
}

#battery.low:not(.charging) {
  color: #eff1f5; /* Text */
  background: #d20f39; /* Red */
  border-radius: 6px;
}

#battery.critical:not(.charging) {
  color: #eff1f5; /* Text */
  background: #d20f39; /* Red */
  animation-name: blink;
  animation-duration: 0.75s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  border-radius: 6px;
}

@keyframes blink {
  to {
    color: #d20f39; /* Red */
    background: #eff1f5; /* Text */
  }
}
